*.json
*.cache
*.dll
*.exe
ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.pdb
ConsoleApp1/obj/Debug/net6.0/Point.AssemblyInfo.cs
ConsoleApp1/obj/Debug/net6.0/Point.GeneratedMSBuildEditorConfig.editorconfig
ConsoleApp1/obj/Debug/net6.0/Point.GlobalUsings.g.cs
ConsoleApp1/obj/Debug/net6.0/Program.AssemblyInfo.cs
ConsoleApp1/obj/Debug/net6.0/Program.csproj.BuildWithSkipAnalyzers
ConsoleApp1/obj/Debug/net6.0/Program.csproj.FileListAbsolute.txt
ConsoleApp1/obj/Debug/net6.0/Program.GeneratedMSBuildEditorConfig.editorconfig
ConsoleApp1/obj/Debug/net6.0/Program.GlobalUsings.g.cs
ConsoleApp1/obj/Debug/net6.0/Program.pdb
ConsoleApp1/obj/Debug/net6.0/ref/ConsoleApp1.dll
ConsoleApp1/obj/Debug/net6.0/refint/ConsoleApp1.dll
ConsoleApp1/obj/Point.csproj.nuget.g.props
ConsoleApp1/obj/Point.csproj.nuget.g.targets
ConsoleApp1/obj/Program.csproj.nuget.g.props
ConsoleApp1/obj/Program.csproj.nuget.g.targets
ConsoleApp1/obj/project.assets.json
ConsoleApp1/obj/project.nuget.cache
ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.pdb
ConsoleApp1/obj/Debug/net6.0/ref/ConsoleApp1.dll
ConsoleApp1/obj/Debug/net6.0/refint/ConsoleApp1.dll
ConsoleApp1/obj/project.assets.json
ConsoleApp1/obj/project.nuget.cache
*.pdb
*.dll
*.cache
*.json
*.dll
*.vsidx
*.dll
*.v2
*.bin
